.App {
  text-align: center;
  height: 90vh;
  width: 99%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fh-100 {
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.w-b-100 {
  border: 1px solid black;
  height: 50px;
}

.drop-targets {
  height: 100%;
  background-color: #dfe0e0
}


.App-link {
  color: #61dafb;
}

.hide {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}